@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600;700&display=swap');
html, body {
    width: 100%;
    height: 100%;
}
@media (min-width: 1200px) {
body{
    background: #444 url("img/icons/triangle top back.png") ;
    box-sizing: border-box;
    background-size: 800px 800px;
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    align-items: center;
}
main{
    width: 100%;
    max-width: 2000px;
    border-left: 5px solid black;
    margin-bottom: 50px;
    padding: 80px 50px 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;
    max-width: 2000px;
    margin-bottom: -90px;
}
.logo{
    font-family: Kodchasan, sans-serif;
    font-weight: 600;
    color: #DB4F00;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    line-height: 60px;
    padding-top: 20px;
}
.logo span:nth-child(2){
    margin-left: 150px;
}
.logo span:nth-child(3){
    margin-left: 270px;
}
.contacts{
    display: flex;
    height: 50px;
    margin-right: 30px;
}
.contacts img{
    width: 40px;
    height: 40px;
    margin: 7px;
}
.delimiter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}
.delimiter h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    align-self: center;
}
.drawing{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line{
    width: 95%;
    height: 5px;
}
.orange{
    background: #DB4F00;
}
.black{
    background: black;
}
.grey{
    background: #444444;
}
.point{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}
.collage{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.side-text{
    width: 430px;
    height: 75px;
    background: #DB4F00;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-text:nth-child(1){
    position: relative;
    right: 288px;
    top: 39px;
}
.side-text:nth-child(3){
    position: relative;
    left: 275px;
    bottom: 45px;
}
.avatar{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
}
.avatar img{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    object-fit: contain;
}
.description{
    position: relative;
    font-size: 26px;
    color: white;
    text-align: center;
    width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.skill-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.skills-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skill{
    display: flex;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}
.skill span{
    width: 135px;
}
.graduate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 310px;
    height: 35px;
    background: black;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
.grad-item{
    width: 25px;
    height: 25px;
    border-radius: 8px;
    display: block;
}
.contacts-list{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #DB4F00;
}
.contact-item a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-item img{
    object-fit: cover;
    width: 80%;
    height: 80%;
}
.projects-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    align-self: center;
}
.project{
    width: 30%;
    height: 1%;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.project img{
    border-radius: 0 0 20px 20px;
    border: 5px solid #DB4F00;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.project-name{
    color: white;
    font-size: 30px;
    align-self: center;
    font-weight: 700;
}
.project-marks{
    gap: 5px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mark{
    width: 50%;
    color: black;
    background: #DB4F00;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
}
@media (max-width: 1199.8px) {
    body{
        background: #444 url("img/icons/triangle top back.png") ;
        background-size: 800px 800px;
        display: flex;
        padding-left: 40px;
        flex-direction: column;
        align-items: center;
    }
    main{
        width: 100%;
        max-width: 2000px;
        border-left: 5px solid black;
        margin-bottom: 50px;
        padding: 80px 50px 0;
        box-sizing: border-box;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 200px;
        max-width: 2000px;
        margin-bottom: -90px;
    }
    .logo{
        font-family: Kodchasan, sans-serif;
        font-weight: 600;
        color: #DB4F00;
        width: 40%;
        display: flex;
        flex-direction: column;
        font-size: 50px;
        line-height: 50px;
    }
    .logo span:nth-child(2){
        margin-left: 110px;
    }
    .logo span:nth-child(3){
        margin-left: 220px;
    }
    .contacts{
        display: flex;
        height: 50px;
        margin-right: 30px;

    }
    .contacts img{
        width: 40px;
        height: 40px;
        margin: 7px;
    }
    .delimiter{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .delimiter h2{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        align-self: center;
    }
    .drawing{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .line{
        width: 95%;
        height: 5px;
    }
    .orange{
        background: #DB4F00;
    }
    .black{
        background: black;
    }
    .grey{
        background: #444444;
    }
    .point{
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .about{
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .text{
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }
    .collage{
        width: 100%;
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        padding: 0 40px;
    }
    .side-text{
        width: 520px;
        height: 90px;
        background: #DB4F00;
        font-size: 55px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .side-text:nth-child(1){
        align-self: start;
        margin: 10px
    }
    .side-text:nth-child(3){
        align-self: end;
        margin: 10px;
    }
    .avatar{
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
    }
    .avatar img{
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
        object-fit: contain;
    }
    .description{
        position: relative;
        font-size: 26px;
        color: white;
        text-align: center;
        width: 800px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .skill-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    .skills-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .skill{
        display: flex;
        color: white;
        font-size: 24px;
        margin-top: 20px;
    }
    .skill span{
        width: 140px;
    }
    .graduate{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 280px;
        height: 33px;
        background: black;
        margin-right: 40px;
        margin-left: 40px;
        border-radius: 10px;
    }
    .grad-item{
        width: 22px;
        height: 22px;
        border-radius: 7px;
        display: block;
    }
    .contacts-list{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .contact-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #DB4F00;
    }
    .contact-item a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-item img{
        object-fit: cover;
        width: 80%;
        height: 80%;
    }
    .projects-list{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    .project{
        width: 40%;
        height: 1%;
        font-size: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
    .project img{
        border-radius: 0 0 20px 20px;
        border: 5px solid #DB4F00;
        object-fit: cover;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .project-name{
        color: white;
        font-size: 30px;
        align-self: center;
        font-weight: 700;
    }
    .project-marks{
        gap: 5px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .mark{
        width: 50%;
        color: black;
        background: #DB4F00;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
}
@media (max-width: 899.9px) {
    body{
    }
    .line{
        width: 90%;
        height: 5px;
    }
    .contacts{
        margin-right: 30px;
    }
    .logo{
        font-family: Kodchasan, sans-serif;
        font-weight: 600;
        color: #DB4F00;
        width: 40%;
        display: flex;
        flex-direction: column;
        font-size: 38px;
        line-height: 45px;

    }
    .logo span:nth-child(2){
        margin-left: 75px;
    }
    .logo span:nth-child(3){
        margin-left: 150px;
    }
    header{
        margin-bottom: -70px;
    }
    main{
        padding: 40px 35px;
    }
    .collage{
        width: 100%;
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 40px;
    }
    .side-text{
        width: 420px;
        height: 75px;
        background: #DB4F00;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .side-text:nth-child(1){
        margin: 10px;
        align-self: center;
    }
    .side-text:nth-child(3){
        margin: 10px;
        align-self: center;
    }
    .avatar{
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
    }
    .avatar img{
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
        object-fit: contain;
    }
    .description{
        position: relative;
        font-size: 20px;
        color: white;
        text-align: center;
        width: 500px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .delimiter{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .skill-list{
        max-width: 600px;
    }
    .contacts-list{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .contact-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #DB4F00;
    }
    .contact-item a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-item img{
        object-fit: cover;
        width: 80%;
        height: 80%;
    }
    .projects-list {
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0;
        box-sizing: content-box;
        max-width: 100%;
    }
    .project{
        width: 70%;
        max-width: 450px;
        height: 1%;
        margin: 10px auto;
    }
    .mark{
        font-size: 18px;
    }
}
@media (max-width: 629.9px) {
    .logo{
        font-family: Kodchasan, sans-serif;
        font-weight: 600;
        color: #DB4F00;
        width: 40%;
        display: flex;
        flex-direction: column;
        font-size: 28px;
        line-height: 40px;

    }
    .logo span:nth-child(2){
        margin-left: 55px;
    }
    .logo span:nth-child(3){
        margin-left: 110px;
    }
    header{
        margin-bottom: -65px;
    }
    main{
        padding: 30px 30px;
    }
    .side-line{
        margin-left: 10px;
        padding: 3px;
    }
    .logo{
        padding: 0;
    }
    .side-text{
        width: 300px;
        height: 60px;
        font-size: 30px;
    }
    .about{
        margin: 0;
    }
    .collage{
        margin-bottom: 30px;
    }
    .description{
        font-size: 14px;
        width: 350px;
        margin-right: 0;
    }
    .avatar{
        width: 100%;
        height: 100%;
    }
    .avatar img{
        max-width: 480px;
        max-height: 480px;
        width: 100%;
        height: 100%;
    }
    .skill-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1500px;
        margin: 0 auto;
    }
    .skills-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .skill{
        display: flex;
        color: white;
        font-size: 22px;
        margin-top: 20px;
    }
    .skill span{
        width: 120px;
    }
    .delimiter{
        margin: 40px 0;
    }
    .delimiter h2{
        font-size: 22px;
    }
    .graduate{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 230px;
        height: 27px;
        background: black;
        margin-right: 0;
        margin-left: 20px;
        border-radius: 7px;
    }
    .grad-item{
        width: 18px;
        height: 18px;
        border-radius: 5px;
        display: block;
    }
    .contacts{
        flex-wrap: wrap;
        width: 180px;
        justify-content: space-evenly;
        margin: 7px 0 0;
    }
    .contacts img{
        width: 35px;
        height: 35px;
        margin: 0;
    }
    .contacts-list{
        width: 300px;
        margin-bottom: 0;
    }
    .contact-item{
        width: 60px;
        height: 60px;
    }
    .main-part{
        justify-content: space-between;
    }
    .drawing{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .line{
        width: 85%;
        height: 5px;
    }
    .project{
        margin: 10px;
        height: 1%;
        width: 100%;
        max-width: 400px;
    }
    .project-name{
        font-size: 24px;
    }
    .projects-list{
        margin: 0;
        box-sizing: content-box;
    }
    .mark{
        font-size: 17px;
    }
    .line{
        height: 4px;
    }
    .point{
        height: 10px;
        width: 10px;
    }
}
@media (max-width: 399.9px) {
    body{
        padding-left: 20px;
    }
    .logo{
        font-size: 20px;
    }
    .logo span{
        height: 30px;
    }
    .logo span:nth-child(2){
        margin-left: 40px;
    }
    .logo span:nth-child(3){
        margin-left: 80px;
    }
    .contacts{
        flex-wrap: wrap;
        width: 70px;
        height: 70px;
        margin: 7px 0 0;
    }
    .contacts img{
        width: 25px;
        height: 25px;
    }
    .contacts a{
        box-sizing: content-box;
    }
    .delimiter{
        height: 40px;
    }
    .delimiter h2{
        font-size: 22px;
    }
    header{
        margin-bottom: -40px;
    }
    main{
        border-left: 3px solid black;
        padding: 40px 20px 20px;
    }
    .point{
        width: 8px;
        height: 8px;
    }
    .line{
        height: 3px;
    }
    .side-text{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
    .contacts a{
        width: 25px;
        height: 25px;
    }
    .delimiter{
        margin: 30px 0;
    }
    .delimiter h2{
        font-size: 14px;
    }
    .collage{
        margin-bottom: 10px;
    }
    .description{
        font-size: 10px;
        max-width: 300px;
    }
    .about{
        margin-bottom: 0;
    }
    .skill-list{
        max-width: 300px;
        margin: 0;
    }
    .skill span{
        font-size: 16px;
        width: 70px;
    }
    .graduate{
        width: 160px;
        height: 20px;
        border-radius: 6px;
    }
    .grad-item{
        width: 12px;
        height: 12px;
        border-radius: 4px;
    }
    .mark{
        font-size: 12px;
    }
    .project{
        margin: 10px;
        height: 1%;
    }
    .project-name{
        font-size: 20px;
    }
    .projects-list{
        margin: 0;
        box-sizing: content-box;
    }
    .contacts-list{
        max-width: 200px;
    }
    .contact-item{
        width: 40px;
        height: 40px;
    }
}
